*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
}

:focus, :active {
  outline: none;
}

button {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  block-size: 100%;
}

body {
  font-family: Montserrat;
  color: #2E363E;
}

[class*=__container] {
  max-inline-size: 1210px; /* = 1180 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 15px;
}

.title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
}

.btn {
  font-family: Montserrat;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
  padding-block: 30px;
  border-radius: 8px;
  color: #2E363E;
  background-color: #FED84C;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.52;
  letter-spacing: 1.2;
  transition: background-color, 0.3s;
}
.btn:hover {
  background-color: #f8c819;
}
.btn:active {
  transform: scale(0.97);
}

.btn--small {
  padding-inline: 40px;
  padding-block: 20px;
}

.image {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lbl {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 18px;
  padding-block: 10px;
  border-radius: 5px;
  background: #F2F6FA;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}

/*===================Catalog=============================*/
.catalog {
  position: relative;
  overflow: hidden;
  margin-block-start: -57px;
}
@media (max-width: 860px) {
  .catalog {
    margin-block-start: 50px;
  }
}
.catalog__title {
  padding-block-start: 0px;
  padding-block-end: 79px;
  text-align: center;
}
@media (max-width: 860px) {
  .catalog__title {
    padding-block-end: 30px;
    font-size: 32px;
  }
}
@media (max-width: 640px) {
  .catalog__title {
    font-size: 24px;
  }
}
.catalog__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 860px) {
  .catalog__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .catalog__body {
    grid-template-columns: 1fr;
  }
}

.cards {
  position: relative;
}
.cards__item {
  border: 1px solid rgb(242, 246, 250);
  border-radius: 10px;
}
.cards .decor {
  display: none;
}
@media (min-width: 1210px) {
  .cards::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    top: 80px;
    left: -165px;
    background: url("../img/berry.png") 0 0/cover no-repeat;
    z-index: 2;
  }
  .cards::after {
    position: absolute;
    content: "";
    width: 161px;
    height: 167px;
    top: 50%;
    right: -120px;
    background: url("../img/leaf.png") 0 0/cover no-repeat;
    z-index: 2;
  }
  .cards .decor {
    display: block;
    position: absolute;
    content: "";
    width: 109px;
    height: 113px;
    bottom: 450px;
    left: -100px;
    transform: rotate(-90deg);
    background: url("../img/leaf.png") 0 0/cover no-repeat;
    z-index: 2;
  }
}

.item-card {
  display: flex;
  flex-direction: column;
}
.item-card__image {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  min-height: 245px;
  position: relative;
}
.item-card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 44px;
  padding-block: 48px;
}
@media (max-width: 1024px) {
  .item-card__body {
    padding-inline: 20px;
    padding-block: 40px;
  }
}
@media (max-width: 640px) {
  .item-card__body {
    padding-inline: 15px;
    padding-block: 20px;
  }
}
.item-card__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.43;
  padding-block-end: 13px;
}
.item-card__description {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-block-end: 23px;
}
@media (max-width: 640px) {
  .item-card__description {
    padding-block-end: 12px;
  }
}
.item-card__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  padding-block-end: 16px;
}

/*================================================*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block-start: 37px;
  padding-block-end: 30px;
  color: #fff;
  border-bottom: 1px solid #7E868E;
  z-index: 2;
}

.header-body {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}
.header-body__name {
  font-size: 21px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}
.header-body__contacts {
  display: flex;
  align-items: center;
  gap: 90px;
}

.contacts-header__adress {
  font-size: 12px;
  line-height: 1.5;
}

.adress-block {
  display: flex;
  gap: 12px;
}
@media (min-width: 1023.99px) {
  .adress-block:hover {
    color: #FED84C;
  }
  .adress-block:hover svg path {
    fill: #FED84C;
  }
}
.adress-block:active {
  color: #f8c819;
}
.adress-block:active svg path {
  fill: #f8c819;
}

.header-contact {
  display: flex;
  gap: 15px;
}
.header-contact__icon {
  display: block;
  margin-block-start: 5px;
  margin-right: -2px;
}
.header-contact__phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-align: right;
}
.header-contact__times {
  font-size: 13px;
  line-height: 1.6;
  text-align: right;
}
@media (min-width: 1023.99px) {
  .header-contact:hover {
    color: #FED84C;
  }
  .header-contact:hover svg path {
    fill: #FED84C;
  }
}
.header-contact:active {
  color: #f8c819;
}
.header-contact:active svg path {
  fill: #f8c819;
}

@media (max-width: 679.99px) {
  .header {
    padding-block: 15px;
  }
  .header-body__contacts {
    gap: 20px;
  }
  .header-body__name {
    font-size: 18px;
  }
  .adress-block__icon {
    width: 41px;
    height: 41px;
  }
  .header-contact__icon {
    margin-block: 0;
    width: 30px;
    height: 30px;
  }
  .header-contact__text,
  .adress-block__text {
    display: none;
  }
}
.main {
  position: relative;
  padding-block-start: 118.5px;
}
.main__bg {
  z-index: -2;
}
@media (max-width: 860px) {
  .main__bg {
    filter: brightness(40%);
  }
}
.main__body {
  padding-block-start: 188px;
  padding-block-end: 525px;
}
@media (max-width: 860px) {
  .main__body {
    padding-block-start: 60px;
    padding-block-end: 150px;
  }
}
@media (max-width: 680px) {
  .main__body {
    padding-block-start: 50px;
    padding-block-end: 60px;
  }
}

.content-body {
  max-width: 647px;
}
@media (max-width: 860px) {
  .content-body {
    max-width: 480px;
  }
}
.content-body__title {
  padding-block: 23px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #fff;
}
@media (max-width: 860px) {
  .content-body__title {
    font-size: 40px;
  }
}
@media (max-width: 680px) {
  .content-body__title {
    font-size: 32px;
    line-height: 1.5;
  }
}
.content-body__subtitle {
  padding-block-end: 42px;
  font-size: 24px;
  line-height: 1.43;
  color: #fff;
}
@media (max-width: 860px) {
  .content-body__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 680px) {
  .content-body__subtitle {
    font-size: 14px;
  }
}
.content-body__btn-and-text {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 860px) {
  .content-body__btn-and-text {
    flex-direction: column;
    align-items: start;
  }
}
.content-body__text {
  max-width: 150px;
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
}
@media (max-width: 860px) {
  .content-body__text {
    max-width: 100%;
  }
}

/*================================================*/
.order-from-mobile {
  padding-block-start: 15.625%;
  background: #081130;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.order-from-mobile::before {
  position: absolute;
  content: "";
  top: -30px;
  left: 0;
  width: 100%;
  height: 24.737%;
  background: url(../img/01\ 1.png) 0 0/cover no-repeat;
}
.order-from-mobile::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36.655%;
  background: url(../img/02\ 1.png) 0 0/cover no-repeat;
}
@media (max-width: 860px) {
  .order-from-mobile {
    grid-template-columns: 1fr;
  }
  .order-from-mobile::after {
    content: none;
  }
}
.order-from-mobile__image {
  position: relative;
  padding-block: 55%;
  margin-inline-end: -30px;
}
.order-from-mobile__image .image {
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 860px) {
  .order-from-mobile__image::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36.655%;
    background: url("img/02 1.png") 0 0/cover no-repeat;
  }
}
.order-from-mobile__content {
  max-width: 610px;
  padding-inline-start: 11.7%;
  padding-inline-end: 15px;
  padding-block-start: 12%;
  padding-block-end: 35px;
  z-index: 1;
  position: relative;
}
@media (min-width: 1210px) {
  .order-from-mobile__content::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    top: -25px;
    right: -190px;
    transform: rotate(-80deg);
    background: url("../img/berry.png") 0 0/cover no-repeat;
    z-index: 2;
  }
  .order-from-mobile__content::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    top: 30px;
    left: -660px;
    background: url("../img/leaf.png") 0 0/cover no-repeat;
    z-index: 2;
    transform: rotate(-90deg);
  }
}
@media (max-width: 860px) {
  .order-from-mobile__content {
    padding-inline: 15px;
    max-width: 100%;
  }
}

.info-mobile-order__label {
  margin-block-end: 24px;
}
.info-mobile-order__title {
  color: #fff;
  line-height: 60px;
  margin-block-end: 24px;
}
@media (max-width: 1210px) {
  .info-mobile-order__title {
    font-size: 40px;
    line-height: 1.2;
  }
}
.info-mobile-order__text {
  color: #fff;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  margin-block-end: 43px;
  text-shadow: 1px 1px #081130;
}

/*================================================*/
.confectionery {
  padding-block-end: 12px;
  overflow: hidden;
}
@media (max-width: 1210px) {
  .confectionery {
    margin-block-start: 15px;
  }
  .confectionery br {
    display: none;
  }
}
.confectionery__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline-start: 10px;
}
@media (max-width: 1210px) {
  .confectionery__container {
    padding-inline-start: 15px;
  }
}
@media (max-width: 860px) {
  .confectionery__container {
    grid-template-columns: 1fr;
  }
}
.confectionery__image {
  position: relative;
  min-height: 804px;
  display: flex;
  align-items: end;
  padding-block-end: 167px;
}
.confectionery__image .image {
  left: -5px;
  top: -5px;
}
@media (max-width: 860px) {
  .confectionery__image .image {
    top: 0;
    left: 0;
  }
}
@media (max-width: 1210px) {
  .confectionery__image {
    padding-block-end: 20px;
    justify-content: center;
  }
}

.info-confectionery {
  padding-block-start: 78px;
  padding-inline-end: 20px;
}
@media (max-width: 860px) {
  .info-confectionery {
    padding-block-start: 40px;
    padding-block-end: 55px;
  }
}
.info-confectionery__label {
  margin-block-end: 24px;
}
.info-confectionery__title {
  margin-block-end: 34px;
  line-height: 60.5px;
}
.info-confectionery__item {
  position: relative;
  padding-inline-start: 22px;
  margin-block-end: 30px;
  font-size: 18px;
  line-height: 1.5;
}
.info-confectionery__item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5D6AFB;
}
.info-confectionery__button {
  margin-block-start: 21px;
}

.about-confectionery {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-inline-start: -85px;
}
@media (max-width: 1210px) {
  .about-confectionery {
    margin-inline-start: -15;
  }
}
.about-confectionery__name {
  display: inline-block;
  padding-inline: 20px;
  padding-block: 15px;
  color: #fff;
  background: #2E363E;
  border-radius: 5px;
  transform: skew(-7deg);
}
.about-confectionery__name span {
  display: inline-flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.3px;
  transform: skew(7deg);
}
.about-confectionery__job-title {
  display: inline-flex;
  padding-inline: 20px;
  padding-block: 15px;
  background: #F2F6FA;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  transform: skew(-7deg);
}
.about-confectionery__job-title span {
  display: inline-block;
  color: #2E363E;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  transform: skew(7deg);
}

/*================================================*/
.reviews {
  padding-block-start: 250px;
  background: #081130;
  overflow: hidden;
  position: relative;
}
.reviews__title {
  margin-block-end: 82px;
  text-align: center;
  color: #fff;
}
.reviews::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 330px;
  left: 0;
  top: -54px;
  background: url("/img/01 1.png") 0 0/cover no-repeat;
}
.reviews::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 284px;
  left: 0;
  bottom: 0;
  background: url("/img/01 1.png") 0 0/cover no-repeat;
  transform: rotate(180deg);
}

.slider-reviews {
  padding-block-end: 310px;
}
.slider-reviews__wrapper {
  position: relative;
}
.slider-reviews__buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-block-start: 70px;
}
@media (max-width: 860px) {
  .slider-reviews__buttons {
    display: none;
  }
}

.slide-reviews__item {
  margin-left: -55px;
  width: 1180px;
  padding-inline: 143px;
  padding-block: 70px;
  background: #fff;
  border: 2px solid rgb(226, 234, 242);
  border-radius: 5px;
  box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.06);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 54px;
  position: relative;
}
.slide-reviews__item::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 220px;
  right: -125px;
  top: -40px;
  background: url("/img/berry.png") 0 0/cover no-repeat;
  transform: rotate(-90deg);
}
@media (max-width: 860px) {
  .slide-reviews__item::after {
    width: 150px;
    height: 150px;
    top: -20px;
    right: 0;
  }
}
@media (max-width: 1880px) {
  .slide-reviews__item {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .slide-reviews__item {
    max-width: 100%;
    padding-inline: 80px;
    padding-block: 50px;
  }
}
@media (max-width: 860px) {
  .slide-reviews__item {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-inline: 20px;
  }
}

.text-review {
  position: relative;
}
.text-review::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 27.47px;
  left: -3px;
  top: 5px;
  background: url("../img/quotes.png") 100% no-repeat;
}
.text-review__title {
  padding-block-start: 65px;
  padding-block-end: 24px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.43;
}
@media (max-width: 860px) {
  .text-review__title {
    padding-block-end: 0px;
  }
}
.text-review__text {
  padding-inline-end: 30px;
  margin-block-end: 24px;
  font-size: 15px;
  line-height: 1.7;
}
@media (max-width: 860px) {
  .text-review__text {
    margin-block-end: 0px;
  }
}
.text-review__link {
  font-size: 14px;
  line-height: 1.5;
  color: #4A94FF;
  margin: 1px 0px;
  border-bottom: 1px dashed #4A94FF;
}

.photo-review {
  text-align: center;
}
.photo-review__image {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  margin-block-end: 30px;
}
@media (max-width: 1200px) {
  .photo-review__image {
    width: 200px;
    height: 200px;
    margin-inline: auto;
  }
}
.photo-review__author {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.43;
  margin-block-end: 6px;
}
.photo-review__city {
  font-size: 16px;
  line-height: 1.7;
  color: #A6AEB6;
}

.slider-reviews-button-prev,
.slider-reviews-button-next {
  cursor: pointer;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #FED84C;
  position: relative;
}
.slider-reviews-button-prev::before,
.slider-reviews-button-next::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: url("/img/arrow.png") center no-repeat;
}
.slider-reviews-button-prev:hover,
.slider-reviews-button-next:hover {
  background-color: #f8c819;
}

.slider-reviews-button-prev::before {
  left: -3px;
  transform: rotate(180deg);
}

.slider-reviews-button-next::before {
  left: 3px;
}

.swiper-slide-active {
  opacity: 1;
}
@media (max-width: 1200px) {
  .swiper-slide-active {
    padding-inline: 15px;
  }
}

@media (min-width: 1880px) {
  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.5;
    scale: 0.8;
  }
}

/*================================================*/
.galery__container {
  margin-block-end: 80px;
}
.galery__title {
  text-align: center;
  margin-block-end: 13px;
}
.galery__text {
  text-align: center;
  font-size: 24px;
  line-height: 1.43;
}
.galery__images {
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
}
.galery__image {
  padding-block: 11.563%;
  position: relative;
  width: calc((100% - 18px) / 3);
}
@media (max-width: 860px) {
  .galery__image {
    width: calc((100% - 9px) / 2);
    padding-block: 20%;
  }
}
@media (max-width: 640px) {
  .galery__image {
    flex: 1 1 100%;
    padding-block: 40%;
  }
}

/*================================================*/
.footer {
  background: #081130;
  padding-block-start: 300px;
  padding-block-end: 80px;
  position: relative;
}
.footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 330px;
  left: 0;
  top: 0;
  background: url("/img/01 1.png") 0 0/cover no-repeat;
}
.footer__container {
  max-width: 1180px;
  background: #fff;
  padding-inline: 99px;
  padding-block: 70px;
  border-radius: 8px;
}
@media (max-width: 1200px) {
  .footer__container {
    padding-inline: 20px;
  }
}
.footer__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  margin-block-end: 12px;
}
.footer__text {
  text-align: center;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.2px;
  margin-block-end: 38px;
}
.footer__links {
  padding-block: 80px;
  margin-inline: auto;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 22px 43px;
  color: #7E868E;
  justify-content: center;
}
.footer__link {
  font-size: 12px;
  line-height: 1.5;
}
.footer__link:hover {
  text-decoration: underline;
}

.form-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.form-order__tel-inner {
  flex: 1 1 50%;
  max-width: 380px;
  position: relative;
}
.form-order__tel-inner svg {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 36px;
  left: 31.5px;
  background: url(/img/phone-input.svg) center/cover no-repeat;
}
.form-order__phone {
  width: 100%;
  height: 86px;
  font-size: 18px;
  border-radius: 8px;
  background: #F2F6FA;
  padding-inline-start: 58px;
  padding-inline-end: 30px;
}
.form-order__phone::-moz-placeholder {
  color: #7E868E;
  font-size: 15px;
  line-height: 1.6;
}
.form-order__phone::placeholder {
  color: #7E868E;
  font-size: 15px;
  line-height: 1.6;
}
.form-order__phone:hover + svg path {
  fill: #2E363E;
}
.form-order__phone:hover::-moz-placeholder {
  color: #2E363E;
}
.form-order__phone:hover::placeholder {
  color: #2E363E;
}
.form-order__phone:focus {
  border: 1px solid #FED84C;
}
.form-order__phone:focus + svg path {
  fill: #2E363E;
}
.form-order__button {
  flex: 1 1 50%;
  max-width: 380px;
}

/*   &__agreement {

        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        @media(max-width: 775px){
            grid-template-columns: 1fr;
        }
    }

    &__agreement-label {
       display: grid;
       grid-template-columns: 12px 1fr;
       gap: 7px;
       align-items: center;
        input {
            display: none;
        }

        span {
            flex: 0 0 12px;
            height: 12px;
            border-radius: 2px;
            background: #4A94FF;
        }

        &:hover {
            span {
                background: #65a5fd;
            }

        }

    }
    &__agreement-text {



    }
    &__agreement-link {

        text-decoration: underline;
        &:hover {
            color: #2E363E;
        }
    }
}

.--checked {
    span {
        background: #4A94FF;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 3px;
            top: 5px;
            left: 3.5px;
            background: #fff;
            transform: rotate(-45deg);
        }
        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 6px;
            top: 2px;
            left: 6.5px;
            background: #fff;
            transform: rotate(45deg);
        }
    }
}
*/
.form-order__agreement {
  text-align: center;
}
.form-order__agreement-label {
  padding-left: 19px;
  font-size: 11px;
  line-height: 1.3;
  position: relative;
}
.form-order__agreement-label input {
  display: none;
}
.form-order__agreement-label::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #4A94FF;
}
.form-order__agreement-label:hover::before {
  background: #80b3fa;
}
.form-order__agreement-link {
  text-decoration: underline;
  font-size: 11px;
  line-height: 1.3;
}
.form-order__agreement-link:hover {
  color: #2E363E;
}

.--checked::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #4A94FF;
}
.--checked::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: url("/img/check.png") center no-repeat;
}