@import"_nullstyle.scss";

body {
    font-family: Montserrat;
    color: #2E363E;
}


[class*="__container"] {
    max-inline-size: 1210px; /* = 1180 + 15 + 15 */
	margin-inline: auto;
	padding-inline: 15px;
}

.title {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1px;

}

.btn {
    font-family: Montserrat;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    padding-block: 30px;
    border-radius: 8px;

    color: #2E363E;
    background-color: #FED84C;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.52;
    letter-spacing: 1.2;
    
    transition: background-color, 0.3s;
    
    &:hover {
        background-color: #f8c819;
    }
    &:active {
        transform: scale(0.97);
    }
}

.btn--small{
    padding-inline: 40px;
    padding-block: 20px;
}

.image {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lbl {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-inline: 18px;
    padding-block: 10px;
    border-radius: 5px;
    background: #F2F6FA;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1px;
}


/*===================Catalog=============================*/
.catalog {
    position: relative;
    overflow: hidden;
    margin-block-start: -57px;

    @media(max-width: 860px){
        margin-block-start: 50px;
    }

    &__title {
        padding-block-start: 0px;
        padding-block-end: 79px;
        text-align: center;

        @media(max-width: 860px){
            padding-block-end: 30px;
            font-size: 32px;
        }

        @media(max-width: 640px){
           
            font-size: 24px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @media(max-width: 860px){
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: 640px){
            grid-template-columns: 1fr;
        }
    }
}

.cards {
    position: relative;
 
    &__item {
        border: 1px solid rgb(242, 246, 250);
        border-radius: 10px;
    }
    
    .decor{
        display: none;
    }
    @media(min-width: 1210px){
        &::before{
            position: absolute;
            content: '';
            width: 250px;
            height: 250px;
            top: 80px;
            left: -165px;
            background: url('../img/berry.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    
        &::after{
            position: absolute;
            content: '';
            width: 161px;
            height: 167px;
            top: 50%;
            right: -120px;
            background: url('../img/leaf.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    
        .decor {
            display: block;
            position: absolute;
            content: '';
            width: 109px;
            height: 113px;
            bottom: 450px;
            left: -100px;
            transform: rotate(-90deg);
            background: url('../img/leaf.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    }
    
}

.item-card {
    display: flex;
    flex-direction: column;

    &__image {
       // border-radius: 10px;
       border-start-start-radius: 10px;
       border-start-end-radius: 10px;
        overflow: hidden;
        max-width: 100%;
        min-height: 245px;
        position: relative;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-inline: 44px;
        padding-block: 48px;

        @media(max-width: 1024px){
            padding-inline: 20px;
            padding-block: 40px;
        }

        @media(max-width: 640px){
            padding-inline: 15px;
            padding-block: 20px;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.43;
        //margin-inline-end: 12px;
        padding-block-end: 13px;
    }

    &__description {
        flex-grow: 1;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding-block-end: 23px;

        @media(max-width: 640px){
            padding-block-end: 12px;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        padding-block-end: 16px;
    }

}
/*================================================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block-start: 37px;
    padding-block-end: 30px;
    color: #fff;
    border-bottom: 1px solid #7E868E;
    z-index: 2;
}

.header-body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    

    &__name {
        font-size: 21px;
        font-weight: 500;
        line-height: 143%;
        letter-spacing: 0%;
        display: flex;
        align-items: center;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 90px;
    }
}
.contacts-header {

    &__adress {
        font-size: 12px;
        line-height: 1.5;
    }
}

.adress-block {
    display: flex;
    gap: 12px;

    @media(min-width:1023.99px){
        &:hover {
            color: #FED84C;
            
            svg  path {
                fill:#FED84C
            }
               
        }
    }

    &:active{
        color: #f8c819;   
        
        svg  path {
            fill:#f8c819;   
        }
           
    }
    
}

.header-contact {
    display: flex;
    gap: 15px;


    &__icon {
       display: block;
       margin-block-start: 5px;
       margin-right: -2px; //pixel perfect
    }

    &__phone {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        text-align: right;
    }

    &__times {
        font-size: 13px;
        line-height: 1.6;
        text-align: right;
    }

    @media(min-width:1023.99px){
        &:hover {
            color: #FED84C;
            
            svg  path {
                fill:#FED84C
            }
               
        }
    }
    
    &:active{
        color: #f8c819;
        
        svg  path {
            fill:#f8c819;
        }
           
    }
}


@media(max-width:679.99px){
    .header {
        padding-block:15px;
    }

    .header-body {
        &__contacts {
            gap: 20px;
        }

        &__name {
            font-size: 18px;
        }
    }

    .adress-block {
        &__icon {
            width: 41px;
            height: 41px;
        }
    }

    .header-contact{
        &__icon {
            margin-block: 0;
            width: 30px;
            height: 30px;
        }
    }

    .header-contact,
    .adress-block {
        &__text {
            display: none;
        }
    }
}



.main {
    position: relative;
    padding-block-start: 118.5px;
    &__bg {
    z-index: -2;

        @media(max-width: 860px){
            filter: brightness(40%);
        }
    }

    &__body {
        padding-block-start: 188px;
        padding-block-end: 525px;

        @media(max-width: 860px){
            padding-block-start: 60px;
            padding-block-end: 150px;
        }
        @media(max-width: 680px){
            padding-block-start: 50px;
            padding-block-end: 60px;
        }
    }
}


.content-body {
    max-width: 647px;

    @media(max-width: 860px){
        max-width: 480px;
    }
    
    &__title {
        padding-block: 23px;
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #fff;

        @media(max-width: 860px){
            font-size: 40px;
        }

        @media(max-width: 680px){
            font-size: 32px;
            line-height: 1.5;
        }
    }

    &__subtitle {
        padding-block-end: 42px;
        font-size: 24px;
        line-height: 1.43;
        color: #fff;

        @media(max-width: 860px){
            font-size: 18px;
        }

        @media(max-width: 680px){
            font-size: 14px;
        }
    }

    &__btn-and-text {
        display: flex;
        gap: 20px;
        align-items: center;

        @media(max-width: 860px){
            flex-direction: column;
            align-items: start;
            
        }
    }

    &__text {
        max-width: 150px;
        color: #fff;
        font-size: 15px;
        line-height: 1.5;

        @media(max-width: 860px){
            max-width: 100%;
        }
    }
}

/*================================================*/

.order-from-mobile {
    //padding-block-start: 300px;
    padding-block-start: 15.625%;
    background: #081130;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow:hidden;
    

    &::before {
        position: absolute;
        content: '';
        top: -30px;
        left: 0;
        width: 100%;
        //height: 330px;
        height: 24.737%;
        background: url(../img/01\ 1.png) 0 0/cover no-repeat;
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        //height: 489px;
        height: 36.655%;
        background: url(../img/02\ 1.png) 0 0 /cover no-repeat;

    }

    @media(max-width: 860px){
        
        grid-template-columns: 1fr;
       
        &::after {
            content: none;
        }
    }

    &__image {
        position: relative;
        //min-height: 1034px;
        //padding-block: 53.86%;
        padding-block: 55%; //pixel perfect
        margin-inline-end: -30px;
       
        .image {
            object-position: right;
        }

        @media(max-width: 860px){
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                //height: 489px;
                height: 36.655%;
                background: url('img/02\ 1.png') 0 0 /cover no-repeat;
            }
        }
    }
    
    &__content {
        max-width: 610px;
        //padding-inline-start: 84px;
        //padding-inline-start: 8.75%;
        padding-inline-start: 11.7%; //pixel perfect
        padding-inline-end: 15px;

        //padding-block-start: 109px;
       // padding-block-start: 11.355%;
        padding-block-start: 12%; //pixel perfect
        padding-block-end: 35px;
        z-index: 1;

        position: relative;
        
        @media(min-width: 1210px){
            &::before{
                position: absolute;
                content: '';
                width: 220px;
                height: 220px;
                top: -25px;
                right: -190px;
                transform: rotate(-80deg);
                background: url('../img/berry.png') 0 0/cover no-repeat;
                z-index: 2;
            }
        
            &::after{
                position: absolute;
                content: '';
                width: 150px;
                height: 150px;
                top: 30px;
                left: -660px;
                background: url('../img/leaf.png') 0 0/cover no-repeat;
                z-index: 2;
                transform: rotate(-90deg);
            }
        }

        @media(max-width: 860px){
            padding-inline: 15px;
            max-width: 100%;
        }

    }
}
.info-mobile-order {
  
    &__label {
        margin-block-end: 24px;
    }

    &__title {

        //font-size: 48px;
        color: #fff;
        //font-weight: 500;
        //letter-spacing: -1px;
        line-height: 60px;
        margin-block-end: 24px;

        @media(max-width: 1210px){
            font-size: 40px;
            line-height: 1.2;
        }
    }

    &__text {
        color: #fff;
        font-size: 21px;
        //line-height: 1.37;
        line-height: 1.4;
        letter-spacing: -0.2px;
        margin-block-end: 43px;
        text-shadow: 1px 1px #081130; 
    }

    
}

/*================================================*/

.confectionery {
    padding-block-end: 12px;
    overflow: hidden;
    @media(max-width: 1210px){
        margin-block-start: 15px;
        br {
            display: none;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline-start: 10px;
        @media(max-width: 1210px){
            padding-inline-start: 15px;
        }

        @media(max-width: 860px){
            grid-template-columns: 1fr;
        }
    }

    &__image {
        position: relative;
        min-height: 804px;
        display: flex;
        align-items: end;
        padding-block-end: 167px;
       //pixel-perfect
        .image {
            left: -5px;
            top: -5px;
            @media(max-width: 860px){
                top: 0;
                left: 0;
            }
        }
        
        @media(max-width: 1210px){
            padding-block-end: 20px;
            justify-content: center;
        }
    }

}
.info-confectionery {

    padding-block-start: 78px;
    padding-inline-end: 20px;

    @media(max-width: 860px){
        padding-block-start: 40px;
        padding-block-end: 55px;
    }

    &__label {
        margin-block-end: 24px;
    }

    &__title {
        margin-block-end: 34px;
        line-height: 60.5px;
    }

    &__item {
        position: relative;
        padding-inline-start: 22px;
        margin-block-end: 30px;

        font-size: 18px;
        line-height: 1.5;

        &::before {
            position: absolute;
            content: '';
            top: 5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #5D6AFB;
        }
    }

    &__button {
        margin-block-start: 21px;
    }
}

.about-confectionery {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    margin-inline-start: -85px;

    @media(max-width: 1210px){
        margin-inline-start: 0px;
    }
    &__name {
        display: inline-block;
        padding-inline: 20px;
        padding-block: 15px;
        color: #fff;
        background: #2E363E;
        border-radius: 5px;
        transform: skew(-7deg);
        span {
            display: inline-flex;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: -0.3px;
            
            transform: skew(7deg);
        }
    }

    &__job-title {
        display: inline-flex;
        padding-inline: 20px;
        padding-block: 15px;
        background: #F2F6FA;
        border-end-start-radius: 5px;
        border-end-end-radius: 5px;
        transform: skew(-7deg);

        span {
            display: inline-block;
            color: #2E363E;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 400;
            text-transform: uppercase;
            transform: skew(7deg);
        }
    }
}

/*================================================*/

.reviews {
    padding-block-start: 250px;
    background: #081130;
    overflow: hidden;

    position: relative;

    &__title {
        margin-block-end: 82px;
        text-align: center;
        color: #fff;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 330px;
        left: 0;
        top: -54px;
        background: url("/img/01\ 1.png") 0 0/cover no-repeat;
    }

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 284px;
        left: 0;
        bottom: 0;
        background: url("/img/01\ 1.png") 0 0/cover no-repeat;
        transform: rotate(180deg);
    }
}

.slider-reviews {
    padding-block-end: 310px;

    &__wrapper {
        position: relative;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-block-start: 70px;

        @media (max-width: 860px) {
            display: none;
           }
    } 
}

.slide-reviews {

    &__item {
        margin-left: -55px; //pixel perfect

        width: 1180px;
        padding-inline: 143px;
        padding-block: 70px;

        background: #fff;
        border: 2px solid rgb(226, 234, 242);
        border-radius: 5px;
        box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.06);

        display: grid;
        grid-template-columns: 1fr auto;
        gap: 54px;

        position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 220px;
        height: 220px;
        right: -125px;
        top: -40px;
        background: url('/img/berry.png') 0 0 /cover no-repeat;
        transform: rotate(-90deg);

        @media (max-width: 860px) {
            width: 150px;
            height: 150px;
            top: -20px;
            right: 0;
           }
    }

        @media (max-width: 1880px) { //pixel perfect
            margin: 0 auto; //pixel perfect
        }

       @media (max-width: 1200px) {
        max-width: 100%;

        padding-inline: 80px;
        padding-block: 50px;
       }

       @media (max-width: 860px) {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-inline: 20px;
       }
    }
}

.text-review {
    position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 27.47px;
            left: -3px; //pixel perfect
            top: 5px; //pixel perfect
            background: url('../img/quotes.png') 100% no-repeat;
        }

    &__title {
        padding-block-start: 65px;
        padding-block-end: 24px;

        font-size: 30px;
        font-weight: 500;
        line-height: 1.43;

        @media (max-width: 860px) {
            padding-block-end: 0px;
           }
    }

    &__text {
        padding-inline-end: 30px;
        margin-block-end: 24px;
        font-size: 15px;
        line-height: 1.7;

        @media (max-width: 860px) {
            margin-block-end: 0px;
           }
    }

    &__link {
        font-size: 14px;
        line-height: 1.5;
        color: #4A94FF;
        margin: 1px 0px;
        border-bottom: 1px dashed #4A94FF;;
    }
}
.photo-review {
    text-align: center;

    &__image {
        position: relative;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        overflow: hidden;
        margin-block-end: 30px;

        @media (max-width: 1200px) {
            width: 200px;
            height: 200px;
            margin-inline: auto;
           }
    }

    &__author {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.43;
        margin-block-end: 6px;
    }

    &__city {
        font-size: 16px;
        line-height: 1.7;
        color: #A6AEB6;
    }
}

.slider-reviews-button-prev,
.slider-reviews-button-next{
    cursor: pointer;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #FED84C;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        background: url('/img/arrow.png') center no-repeat;
        
    }

    &:hover {
        background-color: #f8c819;
    }
}

.slider-reviews-button-prev {
    &::before {
        left: -3px;
        transform: rotate(180deg);
    }  
}

.slider-reviews-button-next {
    &::before {
        left: 3px;
    }
}

.swiper-slide-active { 
    opacity: 1;

    @media (max-width: 1200px) {
        padding-inline: 15px;
       }
}

.swiper-slide-prev,
.swiper-slide-next {
    @media (min-width: 1880px) {
        opacity: 0.5;
        scale: 0.8;
       }
}

/*================================================*/

.galery {

    &__container {
        margin-block-end: 80px;
    }

    &__title {
        text-align: center;
        margin-block-end: 13px;
    }

    &__text {
        text-align: center;
        font-size: 24px;
        line-height: 1.43;
    }

    &__images {
        display: flex;
        gap: 9px;
        flex-wrap: wrap;
        
        
    }

    &__image {
        //min-height: 444px;
        padding-block: 11.563%;
        position: relative;
        width: calc((100% - 9px * 2) / 3);
        
        @media (max-width:860px){
            width: calc((100% - 9px * 1) / 2);
            padding-block: 20%;
        }

        @media (max-width:640px){
            flex: 1 1 100%;
            padding-block: 40%;
        }

        
    }

}

/*================================================*/

.footer {
    background: #081130;
    padding-block-start: 300px;
    padding-block-end: 80px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 330px;
        left: 0;
        top: 0;
        background: url("/img/01\ 1.png") 0 0/cover no-repeat;
    }
    &__container {
        background: #fff;
        padding-inline: 150px;
        padding-block: 70px;
        border-radius: 8px;

        @media(max-width: 1200px){
            padding-inline: 20px;
        
        }

       
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
        margin-block-end: 12px;
    }

    &__text {
        text-align: center;
        font-size: 21px;
        line-height: 1.43;
        letter-spacing: -0.2px;
        margin-block-end: 36px;
    }

    &__form {
    }

    &__links {
        padding-block: 80px;
        margin-inline: auto;
        display: flex;
        max-width: 800px;
        flex-wrap: wrap;
        gap: 22px 43px;
        color: #7E868E;
        justify-content: center;
    }

    &__link {
        font-size: 12px;
        line-height: 1.5;

        &:hover {
            text-decoration: underline;
        }
    }
}
.form-order {
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 20px;

    &__tel-inner {
        flex: 1 1 50%;
        max-width: 380px;
        position: relative;
        
       svg{
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            top: 36px;
            left: 31.5px;
            background: url(/img/phone-input.svg) center / cover no-repeat;  
        }
        
        
        
    }

    &__phone {
        width: 100%;
        height: 86px;
        font-size: 18px;
        border-radius: 8px;
        background: #F2F6FA;
        padding-inline-start: 58px;
        padding-inline-end: 30px;
        &::placeholder{
            color: #7E868E;
            font-size: 15px;
            line-height: 1.6;
            
        }

       &:hover {
        & + svg path {
            fill: #2E363E;
        }

            &::placeholder {
                color: #2E363E;
            }
            
            
        }
        &:focus{
            & + svg path {
                fill: #2E363E;
            }
            
            border: 1px solid #FED84C;
        }
            
    }

    &__button {
        flex: 1 1 50%;
        max-width: 380px;
    }

    &__agreement {
        
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        @media(max-width: 775px){
            grid-template-columns: 1fr;
        }
    }

    &__agreement-label {
       display: grid;
       grid-template-columns: 12px 1fr;
       gap: 7px;
       align-items: center;
        input {
            display: none;
        }

        span {
            flex: 0 0 12px;
            height: 12px;
            border-radius: 2px;
            background: #4A94FF;
        }

        &:hover {
            span {
                background: #65a5fd;
            }
            
        }

    }
    &__agreement-text {
        
       
        
    }
    &__agreement-link {
        
        text-decoration: underline;
        &:hover {
            color: #2E363E;
        }
    }
}

.--checked {
    span {
        background: #4A94FF;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 3px;
            top: 5px;
            left: 3.5px;
            background: #fff;
            transform: rotate(-45deg);
        }
        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 6px;
            top: 2px;
            left: 6.5px;
            background: #fff;
            transform: rotate(45deg);
        }
    }
}
