@import"_nullstyle.scss";

body {
    font-family: Montserrat;
    color: #2E363E;
}


[class*="__container"] {
    max-inline-size: 1210px; /* = 1180 + 15 + 15 */
	margin-inline: auto;
	padding-inline: 15px;
}

.title {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1px;
}

.btn {
    font-family: Montserrat;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    padding-block: 30px;
    border-radius: 8px;

    color: #2E363E;
    background-color: #FED84C;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.52;
    letter-spacing: 1.2;
    
    transition: background-color, 0.3s;
    
    &:hover {
        background-color: #f8c819;
    }
    &:active {
        transform: scale(0.97);
    }
}

.btn--small{
    padding-inline: 40px;
    padding-block: 20px;
}

.image {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lbl {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-inline: 18px;
    padding-block: 10px;
    border-radius: 5px;
    background: #F2F6FA;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1px;
}


/*===================Catalog=============================*/
.catalog {
    position: relative;
    overflow: hidden;
    margin-block-start: -57px;

    @media(max-width: 860px){
        margin-block-start: 50px;
    }

    &__title {
        padding-block-start: 0px;
        padding-block-end: 79px;
        text-align: center;

        @media(max-width: 860px){
            margin-block-end: 40px;
            font-size: 32px;
        }

        @media(max-width: 640px){
            margin-block-end: 20px;
            font-size: 24px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @media(max-width: 860px){
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: 640px){
            grid-template-columns: 1fr;
        }
    }
}

.cards {
    position: relative;
    
    

    &__item {
        border: 1px solid rgb(242, 246, 250);
        border-radius: 10px;
    }
    
    .decor{
        display: none;
    }
    @media(min-width: 1210px){
        &::before{
            position: absolute;
            content: '';
            width: 250px;
            height: 250px;
            top: 80px;
            left: -165px;
            background: url('../img/berry.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    
        &::after{
            position: absolute;
            content: '';
            width: 161px;
            height: 167px;
            top: 50%;
            right: -120px;
            background: url('../img/leaf.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    
        .decor {
            display: block;
            position: absolute;
            content: '';
            width: 109px;
            height: 113px;
            bottom: 450px;
            left: -100px;
            transform: rotate(-90deg);
            background: url('../img/leaf.png') 0 0/cover no-repeat;
            z-index: 2;
        }
    }
    
}

.item-card {
    display: flex;
    flex-direction: column;

    &__image {
       // border-radius: 10px;
       border-start-start-radius: 10px;
       border-start-end-radius: 10px;
        overflow: hidden;
        max-width: 100%;
        min-height: 245px;
        position: relative;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-inline: 44px;
        padding-block: 48px;

        @media(max-width: 1024px){
            padding-inline: 20px;
            padding-block: 40px;
        }

        @media(max-width: 640px){
            padding-inline: 15px;
            padding-block: 20px;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.43;
        //margin-inline-end: 12px;
        padding-block-end: 13px;
    }

    &__description {
        flex-grow: 1;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding-block-end: 23px;

        @media(max-width: 640px){
            padding-block-end: 12px;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        padding-block-end: 16px;
    }

}
/*================================================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block-start: 37px;
    padding-block-end: 30px;
    color: #fff;
    border-bottom: 1px solid #7E868E;
    z-index: 2;
}

.header-body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    

    &__name {
        font-size: 21px;
        font-weight: 500;
        line-height: 143%;
        letter-spacing: 0%;
        display: flex;
        align-items: center;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 90px;
    }
}
.contacts-header {

    &__adress {
        font-size: 12px;
        line-height: 1.5;
    }
}

.adress-block {
    display: flex;
    gap: 12px;

    @media(min-width:1023.99px){
        &:hover {
            color: #FED84C;
            
            svg  path {
                fill:#FED84C
            }
               
        }
    }

    &:active{
        color: #f8c819;   
        
        svg  path {
            fill:#f8c819;   
        }
           
    }
    
}

.header-contact {
    display: flex;
    gap: 15px;


    &__icon {
       display: block;
       margin-block-start: 5px;
       margin-right: -2px; //pixel perfect
    }

    &__phone {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        text-align: right;
    }

    &__times {
        font-size: 13px;
        line-height: 1.6;
        text-align: right;
    }

    @media(min-width:1023.99px){
        &:hover {
            color: #FED84C;
            
            svg  path {
                fill:#FED84C
            }
               
        }
    }
    
    &:active{
        color: #f8c819;
        
        svg  path {
            fill:#f8c819;
        }
           
    }
}


@media(max-width:679.99px){
    .header {
        padding-block:15px;
    }

    .header-body {
        &__contacts {
            gap: 20px;
        }

        &__name {
            font-size: 18px;
        }
    }

    .adress-block {
        &__icon {
            width: 41px;
            height: 41px;
        }
    }

    .header-contact{
        &__icon {
            margin-block: 0;
            width: 30px;
            height: 30px;
        }
    }

    .header-contact,
    .adress-block {
        &__text {
            display: none;
        }
    }
}



.main {
    position: relative;
    padding-block-start: 118.5px;
    &__bg {
    z-index: -2;

        @media(max-width: 860px){
            filter: brightness(40%);
        }
    }

    &__body {
        padding-block-start: 188px;
        padding-block-end: 525px;

        @media(max-width: 860px){
            padding-block-start: 60px;
            padding-block-end: 150px;
        }
        @media(max-width: 680px){
            padding-block-start: 50px;
            padding-block-end: 60px;
        }
    }
}


.content-body {
    max-width: 647px;

    @media(max-width: 860px){
        max-width: 480px;
    }
    
    &__title {
        padding-block: 23px;
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #fff;

        @media(max-width: 860px){
            font-size: 40px;
        }

        @media(max-width: 680px){
            font-size: 32px;
            line-height: 1.5;
        }
    }

    &__subtitle {
        padding-block-end: 42px;
        font-size: 24px;
        line-height: 1.43;
        color: #fff;

        @media(max-width: 860px){
            font-size: 18px;
        }

        @media(max-width: 680px){
            font-size: 14px;
        }
    }

    &__btn-and-text {
        display: flex;
        gap: 20px;
        align-items: center;

        @media(max-width: 860px){
            flex-direction: column;
            align-items: start;
            
        }
    }

    &__text {
        max-width: 150px;
        color: #fff;
        font-size: 15px;
        line-height: 1.5;

        @media(max-width: 860px){
            max-width: 100%;
        }
    }
}

/*================================================*/

.order-from-mobile {
    //padding-block-start: 300px;
    padding-block-start: 15.625%;
    background: #081130;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow:hidden;
    

    &::before {
        position: absolute;
        content: '';
        top: -30px;
        left: 0;
        width: 100%;
        //height: 330px;
        height: 24.737%;
        background: url(../img/01\ 1.png) 0 0/cover no-repeat;
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        //height: 489px;
        height: 36.655%;
        background: url(../img/02\ 1.png) 0 0 /cover no-repeat;

    }

    @media(max-width: 860px){
        
        grid-template-columns: 1fr;
       
        &::after {
            content: none;
        }
    }

    &__image {
        position: relative;
        //min-height: 1034px;
        //padding-block: 53.86%;
        padding-block: 55%; //pixel perfect
        margin-inline-end: -30px;
       
        .image {
            object-position: right;
        }

        @media(max-width: 860px){
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                //height: 489px;
                height: 36.655%;
                background: url(../img/02\ 1.png) 0 0 /cover no-repeat;
            }
        }
    }
    
    &__content {
        max-width: 610px;
        //padding-inline-start: 84px;
        //padding-inline-start: 8.75%;
        padding-inline-start: 11.7%; //pixel perfect
        padding-inline-end: 15px;

        //padding-block-start: 109px;
       // padding-block-start: 11.355%;
        padding-block-start: 12%; //pixel perfect
        padding-block-end: 35px;
        z-index: 1;

        position: relative;
        
        @media(min-width: 1210px){
            &::before{
                position: absolute;
                content: '';
                width: 220px;
                height: 220px;
                top: -25px;
                right: -190px;
                transform: rotate(-80deg);
                background: url('../img/berry.png') 0 0/cover no-repeat;
                z-index: 2;
            }
        
            &::after{
                position: absolute;
                content: '';
                width: 150px;
                height: 150px;
                top: 30px;
                left: -660px;
                background: url('../img/leaf.png') 0 0/cover no-repeat;
                z-index: 2;
                transform: rotate(-90deg);
            }
        }

    }
}
.info-mobile-order {
  
    &__label {
        margin-block-end: 24px;
    }

    &__title {

        font-size: 48px;
        color: #fff;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 60px;
        margin-block-end: 24px;

        @media(max-width: 1210px){
            font-size: 40px;
            line-height: 1.2;
        }
    }

    &__text {
        color: #fff;
        font-size: 21px;
        //line-height: 1.37;
        line-height: 1.4;
        letter-spacing: -0.2px;
        margin-block-end: 43px;
        text-shadow: 1px 1px #081130; 
    }
}







